<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChattingRoom</title>
    <link rel="stylesheet" th:href="@{/css/chattingRoom.css}">
</head>
<body>
    <h1 th:text="${chattingRoomDTO.chattingRoomName}">채팅방 이름</h1>
    <div id="chatMessage">
        <div th:each="message : ${messages}">
            <p><strong th:text="${message.sender}"></strong>: <span th:text="${message.content}"></span></p>
        </div>
    </div>
    <input type="text" id="messageInput" placeholder="메세지를 입력하세요">
    <button id="sendMessageButton">전송</button>

<script th:src="@{/js/chattingRoom.js}"></script>

</body>
</html>