<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" th:href="@{/css/chatRoom.css}">
</head>
<body>
<div class="chat-container">
    <!-- 사용자 목록 -->
    <div class="user-list">
        <form method="get" action="/users/search">
            <input type="text" name="query" placeholder="유저이름을 입력하세요" class="search-box">
            <button type="submit">검색</button>
        </form>
        <ul>
            <!-- 현재 사용자 정보 표시 ( 맨 위 고정 ) -->
            <li class="user-item">
                <span class="username" th:text="${currentUser.username}"></span>
                <span th:if="${#lists.contains(onlineUsers, currentUser.username)}" class="status-online">온라인</span>
                <span th:if="${!#lists.contains(onlineUsers, currentUser.username)}" class="status-offline">오프라인</span>
                <a href="/userModify" class="profile-edit-list-link">...</a>
            </li>
            <!-- 나머지 사용자 목록 -->
            <li th:each="user : ${allUsers}" class="user-item">
                <span class="username" th:text="${user.username}"></span>
                <span th:if="${#lists.contains(onlineUsers, user.username)}" class="status-online">온라인</span>
                <span th:if="${!#lists.contains(onlineUsers, user.username)}" class="status-offline">오프라인</span>
                <a href="#" th:attr="data-username=${user.username}" class="chat-link">채팅하기</a>
            </li>
        </ul>
    </div>

    <!-- 채팅방 -->
    <div class="chat-room">
        <div class="chat-header">
            <h3 id="current-chat-user">채팅 상대를 선택하세요</h3>
            <button class="menu-button">...</button>
        </div>
        <div class="chat-content" id="chat-content"></div>
        <div class="chat-input">
            <input type="text" placeholder="메세지를 입력하세요" id="message-input">
            <button id="send-button">➤</button>
        </div>
    </div>
</div>
<script th:src="@{/js/chatRoom.js}"></script>
</body>
</html>
