<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="container">
    <div class="login-container">
        <div class="logo">
            <h1 class="welcome-text">채팅방에 오신 것을 환영합니다</h1>
            <p class="subtitle">친구들과 함께 대화를 시작해 보세요!</p>
        </div>
        <div class="user-link">
            <!-- 로그인하지 않은 상태에서 보이는 버튼과 링크 -->
            <a href="/users/login" id="login-link" style="display: none;">로그인</a>
            <a href="/users/register" id="register-link" style="display: none;">회원가입</a>
            <!-- 로그인한 상태에서 보이는 버튼들 -->
            <button id="chat-button" style="display: none;" onclick="location.href='/chatRoom'">채팅 참여하기</button>
            <a href="#" id="logout-button" style="display: none;">로그아웃</a>
        </div>
    </div>
</div>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
