<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="user-link">
            <a href="/users/login" id="login-link" style="display: none;">로그인</a>
            <a href="/users/register" id="register-link" style="display: none;">회원가입</a>
            <button id="logout-button" style="display: none;">로그아웃</button>
        </div>
    </div>
</header>
<main class="main-content">
    <div class="chatting">
        <button id="chat-button" style="display: none;" onclick="location.href='/chatRoom'">채팅 참여하기</button>
    </div>
</main>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
