<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.userchat.mapper.ChatRoomMapper">

    <resultMap id="chatRoomMap" type="ChatRoom">
        <id property="roomId" column="room_Id"/>
        <result property="roomName" column="room_name"/>
        <result property="userCount" column="user_count"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 채팅방 저장 -->
    <insert id="save" parameterType="ChatRoom" useGeneratedKeys="true" keyProperty="roomId">
        INSERT INTO chat_rooms (room_name, user_count, created_at)
        VALUES (#{roomName}, #{userCount}, #{createdAt})
    </insert>

    <!-- 채팅방 고유 아이디로 조회 -->
    <select id="findById" resultMap="chatRoomMap">
        SELECT
            room_id,
            room_name,
            created_at,
            user_count
        FROM chat_rooms
        WHERE room_id = #{roomId}
    </select>

    <!-- 모든 채팅방을 조회 -->
    <select id="findAll" resultMap="chatRoomMap">
        SELECT
            room_id,
            room_name,
            created_at
        FROM chat_rooms
        ORDER BY created_at DESC
    </select>

    <!-- 고유 아이디로 채팅방 유저 수를 수정 -->
    <update id="updateUserCount">
        UPDATE chat_rooms
        SET user_count = #{userCount}
        WHERE room_id = #{roomId}
    </update>

    <!-- 채팅방 고유아이디로 삭제 -->
    <delete id="delete">
        DELETE FROM chat_rooms
        WHERE room_id = #{roomId}
    </delete>
</mapper>